<!doctype html>
<html>
	<head>
		<title>
{% block title %}
{% endblock title %}
		</title>
	 	<meta charset="utf-8">
        	<meta name="description" content="Super duper awsome blog about my github projects oregano leaf machine learning linux automatization and other stuff">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="static/style.css" media="screen" />
	</head>

	<body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
	<div id="blueprintbg" class="fullpage">
		<div id="blueprintfg" class="fullpage">
			<div class="container">
{% block content %}
{% endblock content %}
			</div>
		</div>
	</div>
	</body>
</html>
