<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title> {{ title }} </title>
        <meta name="description" content="Super duper awsome blog about my github projects oregano leaf machine learning linux automatization and other stuff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->

        {{ body }}
    </body>
</html>
